{{block header}}{{end}}
<script type="text/javascript">var switchTo5x=true;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'6991dfd4-d4bb-4e99-83b7-a0072a16e014'});</script>
{{block statusbar}}

{{#=A(IMG(_src=URL('static','images/statusbar.png')), _href='http://'+request.env.http_host)}}
{{=referer}}

{{=LOAD(c='widget',f='dent.load',ajax=True,target='dent')}}
<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="blogchile" data-lang="es">Tweetear esto</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<g:plusone count="false"></g:plusone>
<span  class='st_sharethis' displayText='Compártelo'></span>

{{=cerrarmarco}}
{{end}}
{{block panel}}{{end}}
{{block footer}}{{end}}
{{extend 'plantilla.html'}}

{{=XML(go)}}
