{{extend 'plantilla.html'}}

{{=DIV(form, _id='search')}}

<script>
function filtro(){
jQuery("#filtrando").keyup(function () {
    var filter = jQuery(this).val(), count = 0;

    jQuery("#search_results li").each(function () {
        if (jQuery(this).text().search(new RegExp(filter, "i")) < 0) {
            jQuery(this).addClass("hidden");
        } else {
            jQuery(this).removeClass("hidden");
            count++;
        }
    });
    jQuery("#filtrado").text(count);
});
}

jQuery(document).ready(filtro);
</script>
<div id="filtro">Filtrar: <input id="filtrando" name="filtrando"> Filtrados: <span id="filtrado">0</span> artículo(s).</div>


{{=lista_resultados}}
