{{left_sidebar_enabled=False}}
{{right_sidebar_enabled=True}}

{{extend 'plantilla.html'}}

<script>
function reload_component() {
   web2py_component('{{=URL(c='default',f='feed.load', args=request.args)}}','blogs');
    setTimeout(reload_component,300000);
}
jQuery(document).ready(reload_component);
</script>


<div style="clear: both;"></div>

{{=LOAD(c='default',f='feed.load',args=request.args, ajax=False,target='blogs')}}

{{block left_sidebar}}asdf{{end}}
{{block right_sidebar}}
 
<div class="publicidad">
<div id="fb-root"></div><script src="http://connect.facebook.net/es_CL/all.js#xfbml=1"></script><fb:like-box href="http://www.facebook.com/pages/Blog-Chile/177683725631223" width="160" show_faces="true" border_color="white" stream="false" header="false"></fb:like-box>

<script type="text/javascript"><!--
google_ad_client = "ca-pub-9647318851151478";
/* t/g ancho lateral */
google_ad_slot = "2704478943";
google_ad_width = 160;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>


{{end}}
