{{left_sidebar_enabled=False}}
{{right_sidebar_enabled=True}}


{{extend 'plantilla.html'}}


<script type="text/javascript"><!--
google_ad_client = "ca-pub-9647318851151478";
/* ad001 */
google_ad_slot = "7136788308";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>



<script>


function reload_component() {
   // load data via ajax
   web2py_component('{{=URL(c='default',f='feed.load', args=request.args)}}','blogs');
   // refresh even 1000ms without reloading page
   setTimeout(reload_component,300000);
}
jQuery(document).ready(reload_component);



</script>


<!-- google_ad_section_start -->
{{=LOAD(c='default',f='feed.load',args=request.args, ajax=True,target='blogs')}}
<!-- google_ad_section_end -->

{{block left_sidebar}}asdf{{end}}
{{block right_sidebar}}

<script type="text/javascript"><!--
google_ad_client = "ca-pub-9647318851151478";
/* t/g ancho lateral */
google_ad_slot = "2704478943";
google_ad_width = 160;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>



{{end}}
