@charset "UTF-8";
a, a:link, a:visited {text-decoration:none;}
body {
    background: #9cf url('/blogosfera/static/images/bgnubes.png') repeat-x center top fixed;
    color:#445;
    height:100%;
}

.izq {float:left;}
.der {float:right;}

#header #logo {float:left;width:400px;height:50px;margin:5pt;background:none;color:#000;}
#header #appname {font:bold xx-large Cantarell,sans-serif;color:#fff;}
#footer {background:none;border:none;}
#footer a {color:#00f;}

.auth_navbar {background:#fff;}

#panel {
    background: none;
    height: 2em;
    padding: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    clear: both;
    z-index: 9999;
}

#panel a:link, #panel a:visited {

}

#panel a:hover {}

.feed_bloque {
    width:120px;
    overflow:hide;
    margin:1em;
    text-align: justify;
    border:0px dotted #acf;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    background:#fff;
}

/*
.feed_bloque:hover {
    outline:1px groove #acf;
    background:#def;
}
*/
#wrapper {background:none;padding:2em 0;}

/* .bloque {background:#eee;border:1px solid none;}*/

a.noticia_link {
    text-decoration:none;
    padding:0 1em;
    color:#000;
    font:8pt sans-serif;
    /* font-variant:small-caps; */
}

a.noticia_link:visited {
    color:#000;
}

#godiv iframe {background:none;}

.feed_titulo {
    font:bold .8em sans-serif;
    clear:both;
    text-align:center;
    text-transform:uppercase;
    color:#000;
    padding:0 .3em;
    overflow:hidden;
    height:1em;
}

.hidden {display:none !important;}

.noticia_meta {
    font:italic .8em sans-serif;
    text-align:right;
    background:#def;
    color:#00f;

}
.noticia {}
.noticia_descripcion {}

#sitemsge {padding:0 1em;line-height:1em;font:italic small sans-serif;background:none;color:#666;float:right;}

.noticia_contenido {
    padding:0 .3em;
    background:#fff;
    border-top:1px solid #cdf;
    line-height:.9em;
    height:80px;
    overflow:hidden;
}

#statusbar {
    background:none;
    border:0;
}

.boton_categoria_activa {
    border-top:1px solid #00f !important;
}

#simplemodal-overlay {background-color:#000;color:#fff;}
#simplemodal-container {background-color:#333; border:8px solid #444; padding:12px;color:#fff;}

#nueva_categoria, #nuevo_feed {max-width:350px;margin:auto;}

#search_results  {
    margin-bottom:1em;
    padding:0 1em;
    width:100%;
    clear:both;
}
.search_result .title {
    width:75%;
}
.search_result .meta {width:25%;}

#search_results tr.odd,
#search_results tr.even,
#search_results tr.odd td,
#search_results tr.even td {
    vertical-align: middle;
    padding:.5em;
    }

#search_results tr.odd,
#search_results tr.odd td
{
    background: #fff !important;
}

#search_results thead th {
    background:none;
    border-bottom:1px solid #ccc;
    color:#000;
    }

#search_results tr.even,
#search_results tr.even td
{
    background: #eee;
}

.search_result  .title a {
    text-decoration:none;
    color:#000;
}

.search_result .title a:hover {background:#cdf;}

#search {
    width:auto;
    font: bold 1.3em sans-serif;
    margin:auto;
    text-align:center;
}

.search_result td.description {
    font:italic 1em sans-serif;
    color:#333;
    margin:auto;
    padding:1em;
    text-align:justify;
    clear:both;
}

#search_results_filter {
    background:#cf9;
    border:1px solid #fff;
    border-radius:10px;
}

tr.search_result {border-bottom:1px solid #ccc;}

.search_result .meta {font:small sans-serif;background:transparent !important}

#gbuscar {text-align:right;}
#cse-search-results iframe {width:100%;background:#fff;padding:1em;margin:auto;}

#filtro {
    text-align:center;
    margin:auto;
    background:#9f9;
    border:1px solid #0c0;
    padding:.5em;
    border-radius:10px;
}

#blogs:first-child {font:bold 1.3em sans-serif;}