html {overflow:hidden !important}
#header, #panel,  #footer {margin:0 !important;display:none !important;}
#wrapper {width:100% !important;max-width:100% !important;background:transparent !important;padding:0 !important;}
#godiv {background:#fff !important;}
#dent {display:inline-block;}
#statusbar div{margin:0 .3em;}
#statusbar {padding:5px;}