html, body, #godiv, #container, #wrapper, #page, #content {height:100% !important;margin:0 !important;padding:0em !important;overflow:hidden;}

#panel,  #footer {display:none !important;}

#wrapper {width:100% !important;max-width:100% !important;background:#fff !important;padding:0 !important;}
